<html>
   <body style="background:#add8e6">
   {#显示登录成功信息的代码#}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h2 style="text-align: center">Comic Discussion Forum</h2>
      <form action = "http://localhost:5000/login_cert" method = "post" style="text-align: center">
        <p>Enter Name:</p>
        <p><input type = "text" name = "username" /></p>
          <p>Enter Password:</p>
        <p><input type = "text" name = "password" /></p>
           <p>Enter Captcha name:</p>
        <p><input type = "text" name = "captchaName" /></p>

        <p><input type = "submit" value = "submit" /></p>
      </form>
       <script>
        function loadCaptcha() {
            var captchaImage = document.getElementById('captcha-image');
            captchaImage.src = '/captcha'; // 直接加载验证码路由
            captchaImage.style.display = 'block'; // 显示图片
        }
        </script>
        <div style="text-align: center;">
          <button onclick="loadCaptcha()"  >Load Captcha</button >
          <img id="captcha-image" src="" alt="Captcha" style="display: none"  >
        </div>

   </body>
</html>
