<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"  href={{url_for('static',filename='css/style1.css')}}>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>
        <h2 style="justify-content: center">Form Example</h2>

        <form action="/submit_form" method="post" style="justify-content: center">
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname"><br><br>
          <input type="submit" value="Submit">
        </form>

        {{t_int}}
    </h1>
</body>
</html>

